.main button:active {
	background-color: #08529c;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.buttons {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #05386b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttons:hover {background-color: #08529c}
  
  .buttons:active {
    background-color: #08529c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.footers {
	position: relative;
    margin-top:25px;
	padding: 0.5rem;
	bottom: 0;
	width: 100%;
	background-color: #05386b;
	color: #fff;
}
.stylings {
	width: 100vw;
	/* height: 100vh; */
	background-color: #5cdb95;
}
/* .stylings .blob {
	position: fixed;
	left: 0;
	bottom: 0;
} */
.userdetail {
	position: absolute;
	z-index: 2;
	top: 15%;
	font-family: "Poppins", sans-serif;
	width: 50%;
	border-radius: 15px;
	background-color: #edf5e1;
	left: 24%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
}
.userdetails {
	position: absolute;
	/* top: 0; */
	z-index: 2;
	width: 50%;
	font-family: "Poppins", sans-serif;
	background-color: #edf5e1;
	left: 24%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	border-radius: 2rem;
}
.userdetail TextField {
	float: left;
}
.userdetail FormLabel {
	float: left;
}
.userdetail Button {
	background-color: #054f99;
	color: #edf5e1;
	float: right;
}
.userdetail Button:hover {
	background-color: #05386b;
}
.userdetail .rightBtn {
	float: left;
}
.userdetails Button {
	background-color: #054f99;
	color: #edf5e1;
	float: right;
}
.userdetails Button:hover {
	background-color: #05386b;
}
.userdetails .rightBtn {
	float: left;
}
.userdetails .submitBtn {
	background-color: red;
	transition: 1s;
}
.userdetails .submitBtn:hover {
	background-color: green;
}
.credit-link {
	float: right;
	color: #666;
}

.resultdetail{
    position:absolute;
    z-index:2;
    top:15%;
    font-family: 'Poppins', sans-serif;
    width:50%;
    border-radius:15px;
    background-color:#edf5e1;
    left:24%;
    padding:1%;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:30%;
    justify-content:space-evenly;
}
.resultdetail Button{
    background-color:#054f99;
    color:#edf5e1;
    float:right;
}
.resultdetail Button:hover{
    background-color:#05386b;
}
