.litem {
	font-size: 20px;
	margin-right: 20%;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 250px;
}

.title {
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

.container {
	margin-left: 10px;
}

.btn {
	display: inline-block;
	padding: 10px 25px;
    margin-bottom: 3rem;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #05386b;
	border: none;
	border-radius: 15px;
}

.self-help-image {
	height: 20rem;
	width: 20rem;
}

.tips-list {
	padding: 0;
	margin: 0;
	margin-left: 2rem;
	width: 100%;
}
